@import "tailwindcss";

:root {
  color-scheme: light dark;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* ===== Light mode scrollbar ===== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* white track */
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* light gray thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* ===== Dark mode scrollbar ===== */
.dark ::-webkit-scrollbar-track {
  background: #111;
}

.dark ::-webkit-scrollbar-thumb {
  background: #333;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Social icon reusable */
.social {
  padding: 12px;
  border-radius: 9999px;
  border: 1px solid #9ca3af;
  transition: all 0.3s;
}
.social:hover {
  background: #111;
  color: white;
}
.dark .social:hover {
  background: white;
  color: black;
}
